<!-- about.njk: About section include wrapped in semantic section -->
<section id="about">
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-aliceblue py-4 sm:py-12">
    <div class="w-full p-3 items-center mx-auto max-w-screen-lg">
        <h2 class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl font-lexendTera tracking-tightest font-thin text-gray-900 mb-8 py-6 text-taupe">ABOUT NTIR</h2>
      <div class="group grid w-full md:grid-cols-2">
        <div class="pl-16 relative flex items-end flex-col before:block before:absolute before:h-1/6 before:w-4 before:bg-reseda before:bottom-0 before:left-0 before:rounded-lg  before:transition-all group-hover:before:bg-khaki overflow-hidden">
          <div class="absolute top-0 left-0 bg-reseda w-4/6 px-12 py-14 flex flex-col justify-center rounded-xl group-hover:bg-khaki transition-all ">
            <span class="block mb-10 font-thin font-lexendTera group-hover:text-taupe">HERE WE ARE</span>
            <h2 class="text-white font-thin text-3xl font-lexend">
            What started as a tiny team mostly dedicated to Air Quality has grown.
            </h2>
          </div>
          <a class="font-bold text-sm flex mt-2 mb-8 items-center gap-2" href="">
            <span class="font-lexend tracking-tighter">MORE ABOUT US</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </a>
          <div class="rounded-xl overflow-hidden">
            <img src="https://picsum.photos/800/800" alt="">
          </div>
        </div>
        <div>
          <div class="pl-12 pt-12">
            <h3 class="mb-4 font-thin text-taupe text-xl text-gray-400 font-lexendTera">WE TELL YOU LIKE IT IS</h3>
            <p class="peer mb-6 text-gray-400">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            <p class="mb-6 text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
            <h3 class="mb-4 font-thin text-taupe text-xl text-gray-400 font-lexendTera">QUALITIES WE POSSESS</h3>
            <ul role="list" class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500">
              <li>5 cups chopped Porcini mushrooms</li>
              <li>1/2 cup of olive oil</li>
              <li>3lb of celery</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
