<section>
    <div class="bg-no-repeat bg-cover bg-center bg-khaki/70 relative" style="background-image: url('/assets/images/sittingworker.webp');">
  <div class="absolute bg-gradient-to-r from-khaki/70 to-reseda/60 inset-0 z-0"></div>
  <div>
    <div class="min-h-screen flex justify-center px-3 py-6">
      <div class="grid grid-cols-1  gap-4 items-center z-10">
        <div class="max-w-lg text-center md:text-left mb-2 md:mb-0">
           <div class="text-lg sm:text-xl  font-lexendTera text-white tracking-tighter mb-2 uppercase">
            we love you  {{ location.city }}.
          </div>
            <h2 class="text-4xl font-thin font-lexend text-gray-100 tracking-tight">
            We love working for you and with you.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
</section>