
<!-- component -->
<div class="location-section">
  <section>
    <section class="sticky">
      <div class="max-w-lg px-4 sm:pt-24 pt-12 sm:pb-8 mx-auto text-left md:max-w-none md:text-center">
        <h2 class="text-xl sm:text-3xl md:text-5xl font-lexendTera tracking-tightest font-thin text-gray-900 mb-8 py-6 text-taupe uppercase ">
          <small class="block text-xs pb-2 tracking-widest">LOCATION</small>
          {{ location.name }}
        </h2>
      </div>
      <div class="max-w-lg px-4 pb-24 mx-auto text-left md:max-w-none md:text-center">
        <div class="text-center py-4 space-x-4">
          <button class="backdrop-blur-sm transition duration-500 ease-in-out cta-now-button border border-[#E2E8F0] translate-y-1 hover:bg-neutral-200 text-lg font-semibold py-3 px-6 rounded-3xl inline-flex items-center">
            <span>Book a Job Now!</span>
          </button>
          <button class="backdrop-blur-sm transition duration-500 ease-in-out more-info-button border border-[#E2E8F0] translate-y-1  hover:bg-neutral-200 text-lg font-semibold py-3 px-6 rounded-3xl inline-flex items-center">
            <span>See our Services</span>
          </button>
        </div>
      </div>
    </section>
  </section>
  <div class="text-left">
    <div class="sm:px-28">
      <section class="relative flex items-center w-full">
        <div class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 max-w-7xl">
          <div class="relative flex-col items-start m-auto align-middle">
            <div class="grid grid-cols-1 gap-6  lg:gap-24">
              <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
                <div class="max-w-xl text-center lg:text-left">
                  <div>
                    <p class="text-3xl font-semibold tracking-tight text-[#201515] sm:text-5xl"></p>
                    <h3 class="mb-4 font-thin text-taupe text-2xl text-gray-400 font-lexend tracking-tighter">On {{ location.name }}</h3>
                    <p class="max-w-xl mt-4 text-base tracking-tight text-gray-600">
                      {{ location.description }}
                    </p>
                  </div>
                  <div class="flex justify-center gap-3 mt-10 lg:justify-start">
                    <a class="inline-flex items-center justify-center text-sm font-semibold text-black duration-200 hover:text-blue-500 focus:outline-none focus-visible:outline-gray-600" href="#">
                      <span>Inquire now! &nbsp; →</span>
                    </a>
                  </div>
                </div>
              </div>
              {% include "services-card.njk" %}
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="mt-32"></div>
    {% include "location-section-footer.njk" %}
  </div>
</div>