<!-- testimonial-reviews.njk: Testimonial slider include using Swiper.js and herobkg.webp as background -->
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.css" rel="stylesheet" />
<style>
  .swiper-pagination {
    bottom: 0;
    position: relative;
  }
  .swiper-container {
    overflow: hidden;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: rgb(14 211 207);
  }
</style>
<div id="reviews" class="bg-no-repeat bg-cover bg-center bg-taupe/70 relative" style="background-image: url('/assets/images/sittingworker.webp');">
  <div class="absolute bg-gradient-to-r from-taupe/70 to-reseda/60 inset-0 z-0"></div>
  <div>
    <div class="min-h-screen flex justify-center px-3 py-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center z-10">
        <div class="max-w-lg text-center md:text-left mb-2 md:mb-0">
          <div class="text-lg sm:text-xl  font-lexendTera text-white tracking-tighter mb-2">
            WHAT PEOPLE ARE SAYING
          </div>
          <h2 class="text-4xl font-thin font-lexend text-gray-100 tracking-tight">
            A smile <br class="hidden md:block lg:hidden"> is an inexpensive way to change your looks
          </h2>
          <p class="mt-4 text-gray-300">
            Goals are just dreams with deadline
          </p>
          
        </div>
  <div class="mx-0 max-w-xl flex rounded-2xl bg-khaki/90 backdrop-blur-md">
          <div class="swiper-container flex-col flex self-center">
            <div class="swiper-wrapper">
              {% for review in googleReviews %}
              <div class="swiper-slide">
                {% if review.text %}
                      {% include "review-with-text.njk" %}
                    {% else %}
                      {% include "review-empty-text.njk" %}
                    {% endif %}
              </div>
              {% endfor %}
                
            </div>
            <div class="mt-12 swiper-pagination hidden"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script crossorigin="anonymous" defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 8,
      autoplay: {
        delay: 8000,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
        },
        1024: {
          slidesPerView: 1,
        },
      },
    })
  })
</script>
