@tailwind base;
@tailwind components;
@tailwind utilities;

p, li{
	@apply font-mono;
}
.logo {
	font-family: 'Lexend Tera', sans-serif;
	line-height: 1;
}
.repairs{
	font-size: .4em;
	line-height: 2em;
	letter-spacing: 1em;
	text-align: center;
}