---
title: Home
layout: layout.njk
---

{% set hero_title = "NOTHIN' TO IT <br><div class='repairs'>REPAIRS</div>" %}
{% set hero_subtitle = "Choose One of Our Locations" %}
{% set hero_button1 = "JOHNS ISLAND, SC" %}
{% set hero_button2 = "HICKORY, NC" %}
{% include "hero.njk" %}



{% include "about.njk" %}

{% include "testimonial-reviews.njk" %}

{% set sortedLocations = locations | sort(attribute='order') %}
{% for location in sortedLocations %}
	{% include "location.njk" %}
{% endfor %}

{% include "gallery.njk" %}

{% include "contact.njk" %}